/* LandingPage.css */
.landing-container {
    
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/601/977/original/vector-old-video-game-background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .landing-title {
    font-size: 2rem;
    color: #fff;
  }
  
  .landing-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  

