/* detail.styles.css */

.detail-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.detail-container img {
  max-width: 100%;
  height: auto;
  max-height: 400px; /* Ajusta esta altura según tus necesidades */
  margin-bottom: 15px;
  border-radius: 4px;
}

.detail-container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.detail-container h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.detail-container p {
  font-size: 1rem;
  margin-bottom: 5px;
}

/* Add more styles as needed */
